body {
  margin: 10px;
		background-color: #575757;
		font-family: 'Quicksand', sans-serif;
		 font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
	 font-weight: 500;
}

 	img {
	     max-width: 100%;
	         max-height: 100%;
	 }

	.sidebar {
		grid-area: sidebar;
	}

	.sidebar2 {
		grid-area: sidebar2;
	}

	.content {
		grid-area: content;
	}

	.header {
		grid-area: header;
	}

	.footer {
		grid-area: footer;
	}

	.wrapper {
		background-color: #575757;
		color: #444;
	}

  .wrapper {
    display: grid;
    grid-gap: .5em;
    grid-template-areas:
     "header"
     "sidebar"
     "content"
     "sidebar2"
     "footer"
  }

	@media only screen and (min-width: 500px)  {
	.wrapper {

		grid-template-columns: 20% auto;
		grid-template-areas:
                "header   header"
		"sidebar  content"
		"sidebar2 sidebar2"
		"footer   footer";
	}
	}

	@media only screen and (min-width: 600px)   {
		.wrapper {
      			grid-gap: 5px;
			grid-template-columns: 180px auto 180px;
			grid-template-areas:
      			"header  header  header"
			"sidebar content sidebar2"
			"footer  footer  footer";
			max-width: 100%;
		}
	}

.box {
  background-color: #9c9ba0;
  color: #000000;
  border-radius: 5px;
  padding: 10px;
  font-size: 100%; 
}

.header,
.footer {
  background-color: #c9c9c9;
}

.header{
 height:50px; /*height of your image*/
 background-image:url('./assets/ontology.svg');
 background-repeat: no-repeat;
 background-position: right;
   }


.sidebar2 {
  background-color: #d4d4d4;
  color: #444;
}

table,
td {
    border: 1px solid #333;
    border-collapse: collapse;
    border-spacing: 0px;
    }
 }

thead,
tfoot {
   background-color: #333;
   color: #fff;
   padding: 5px;
   border: 1px solid black;
}

